@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans");
*,
*::after {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  overflow-x: hidden; }

h1 {
  font-size: 4.8rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 1.8rem; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem; }

.section-title {
  color: #d14186;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  letter-spacing: .6rem;
  text-transform: uppercase;
  padding: 1rem;
  margin: .5rem; }

.btn, .btn:link, .btn:visited {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 1rem auto;
  border: none;
  border-radius: 10rem;
  position: relative;
  box-shadow: 0 1rem 3rem rgba(17, 17, 17, 0.3); }

.btn:focus {
  outline: none; }

.btn--pink, .btn--pink:link, .btn--pink:visited {
  background-color: #9f2660;
  color: #fff; }

.btn--pink:hover, .btn--pink:active {
  background-color: #d14186; }

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

progress[value]::-webkit-progress-bar {
  background: #eee; }

progress[value]::-webkit-progress-value {
  background: #d14186; }

progress[value]::-moz-progress-bar {
  background: #d14186; }

progress::-ms-fill {
  background-color: #d14186;
  border: none; }

progress.progress-bar {
  border: none;
  border-radius: 10rem;
  display: block;
  overflow: hidden;
  margin: 0 !important;
  padding: 0;
  width: 100%;
  height: 1rem; }

.container {
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section-about {
  padding: 4rem 3rem;
  margin: 10rem auto; }
  .section-about .about-dev__picture {
    border-radius: 50%;
    width: 70%; }
  .section-about .skills__category {
    color: #111111; }
  .section-about .skills__list {
    list-style-type: none; }
  .section-about .skills__skill {
    color: #111111; }

#portfolio {
  padding: 7rem 2rem 5rem;
  font-size: 1.6rem; }
  #portfolio .project__card {
    max-width: 50rem;
    height: auto; }
  #portfolio .project__image {
    max-width: 100%;
    object-fit: cover;
    backface-visibility: hidden; }

.header {
  background-image: linear-gradient(to right bottom, rgba(17, 17, 17, 0.75), rgba(17, 17, 17, 0.75)), url(../img/header.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0 auto; }
  .header .intro {
    position: absolute;
    display: inline-block;
    letter-spacing: .2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header .intro__hello {
      background-image: linear-gradient(to right, #07c1db 0%, #89D2DC 30%, #07c1db 90%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-family: 'Lato', sans-serif;
      font-weight: 600; }
    .header .intro__name {
      color: #e07fad;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 900;
      text-transform: uppercase; }
    .header .intro__position {
      color: #fff;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 900;
      text-transform: uppercase; }
      .header .intro__position::before {
        content: "|";
        padding: 0 .8rem 0 1.4rem;
        color: #d14186; }
    .header .intro__link {
      text-decoration: none;
      color: inherit; }

footer {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #111111;
  color: #fff;
  padding: 3rem 0 1.8rem;
  min-height: 10rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 6rem)/3); }
  .row .col-2-of-3 {
    width: calc( 2*((100% - 2* 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem)/4); }
  .row .col-2-of-4 {
    width: calc( 2*((100% - 3* 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3*((100% - 3* 6rem)/4) + 2 * 6rem); }
