:root {
    --marine-blue: rgba(80, 133, 139, 1);
    --blue-sky: rgba(216, 235, 234, 1);
    --black: rgba(53, 50, 56, 1);
    --sandcastle: rgba(190, 124, 77, 1);
}

html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

body {
    color: #031424;
    overflow-x: hidden;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
    }
}

h1 {
    font-size: 32px;
    line-height: 5.5rem;
}

h2 {
    font-size: 24px;
}

nav {
    font-size: 15px;
    text-align: center;
    line-height: 1.618;
    background-color: var(--marine-blue);
    margin-bottom: 10px;
}
nav .nav-link {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px; 
    margin: 5px; 
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
}

.habilidades {
    color: var(--black);
    font-size: 20px;
}

header {
    margin-top: 50px;
    background-color: var(--blue-sky);
    padding: 35px 15px 100px;
    margin-bottom: 50px;
    min-height: 500px;
}

.profile-info {
    margin: 20px auto;
}

@media (max-height: 768px){
    header{
      padding: 35px 0 80px !important;  
    }
}

.nome {
    font-family: 'Open Sans', sans-serif;
}

.card-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

section {
    margin: 50px auto;
    padding: 10px;
    width: 100%;
}

aside {
    padding: 10px 5px;
}

#info {
    background-color: white;
    border-radius: 3px;
    margin: 50px 0 30px;
    padding: 40px 25px;
    width: 100%;
    min-height: 250px;
}

@media(max-width: 768px) {
    #info {
        margin-top: 0px;
        font-size: 15px;
    }

    .btn {
        width: 100%;
        margin: 5px auto;
        font-size: 16px !important;
    }

    .list-icons {
        font-size: 2rem !important;
    }
}

.list-icons {
    font-size: 3rem;
    color: var(--marine-blue);
}

.list-icons .list-inline-item i:hover {
    color: #6E8898;
}

section .portfolio-title {
    color: var(--black);
}

section .portfolio-image {
    width: 80%;
    height: auto;
}

section .portfolio-description {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .portfolio-title {
        font-size: 20px;
    }

    section .portfolio-description {
        margin-top: 10px !important;
        font-size: 14px;
    }   
}

#miraira_digital.portfolio-title {
    color: #ca2604;
    margin-top: 10px;
}

#miraira_digital.btn.btn-primary {
    background-color: #ca2604;
    border-color: #ca2604;
}

#miraira_digital.btn.btn-primary:hover {
    background-color: orangered;
    border-color: orangered;
}

#miraira_digital.btn.btn-primary:visited {
    background-color: orangered;
    border-color: orangered;
    color: white;
}
#miraira_digital.btn.btn-primary:focus {
    background-color: orangered;
    border-color: orangered;
    color: white;
}

.titulo {
    color: var(--sandcastle);
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 600;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 28px;
    }

}

footer {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--black);
    color: white;
    padding: 30px 0 18px;
    min-height: 100px;
}