*,
*::after {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #353238;
  overflow-x: hidden; }

@media (min-width: 992px) {
  body {
    padding-top: 0; } }

h1 {
  font-size: 3.6rem !important; }

h2 {
  font-size: 2.8rem !important; }

h3 {
  font-size: 2.4rem !important; }

h4 {
  font-size: 2.1rem !important; }

@media (max-width: 768px) {
  h1 {
    font-size: 2.8rem !important; }
  h2 {
    font-size: 2.1rem !important; }
  h3 {
    font-size: 1.8rem !important; }
  h4 {
    font-size: 1.6rem !important; } }

nav {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.618; }
  nav .nav-item .nav-link {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400; }
    nav .nav-item .nav-link:hover {
      color: #4ebccb !important; }

.title {
  color: #0A2342;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 2rem 0 1.5rem; }

.text--blue-sky {
  color: #89D2DC; }

.text--marine {
  color: #0A2342; }

@media (max-width: 768px) {
  .title {
    font-size: 2.8rem; } }

#portfolio .projects .project__description {
  color: #353238;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block; }

.btn {
  font-size: 1.5rem !important; }

#portfolio .projects #digitalmiraira .btn.btn-danger:link {
  background-color: #ca2604;
  border-color: #ca2604; }

#portfolio .projects #digitalmiraira .btn.btn-danger:hover {
  background-color: #fb4520;
  border-color: #fb4520; }

#portfolio .projects #digitalmiraira .btn.btn-danger:visited {
  background-color: #fb4520;
  border-color: #fb4520;
  color: #fff; }

#portfolio .projects #digitalmiraira .btn.btn-danger:focus {
  background-color: #fb4520;
  border-color: #fb4520;
  color: #fff; }

#portfolio {
  padding: 7rem 2rem 5rem;
  font-size: 1.6rem; }
  #portfolio .projects .card {
    max-width: 50rem; }

nav {
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 1rem; }
  nav .nav-link {
    padding: 1rem;
    margin: .5rem; }
  nav .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    padding: 1rem; }

header {
  margin-top: 3rem;
  background-color: #89D2DC;
  padding: 3.5rem 2rem 10rem;
  margin-bottom: 5rem;
  min-height: 50rem;
  width: 100%; }
  header .developer-profile {
    padding: 3rem 1.5rem; }
    header .developer-profile .card {
      max-width: 50rem; }
    header .developer-profile__name {
      font-family: 'Lato', sans-serif; }
    header .developer-profile__job {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 1.4rem; }
    header .developer-profile__links {
      margin-top: 1rem; }
  header .developer-info {
    background-color: #fff;
    border-radius: .3rem;
    margin: 3rem 0;
    padding: 2.5rem 3rem;
    width: 100%;
    min-height: 25rem; }
    header .developer-info__bio--text {
      font-family: 'Lato', sans-serif;
      font-size: 1.5rem;
      text-align: justify; }
    header .developer-info__skills {
      margin-bottom: .5rem;
      line-height: 3rem; }
      header .developer-info__skills .subtitle {
        font-size: 1.4rem !important; }

@media (max-height: 768px) {
  header {
    padding: 3.5rem 0; } }

footer {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #353238;
  color: #fff;
  padding: 3rem 0 1.8rem;
  min-height: 10rem; }
