@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
}

@mixin blue-gradient(){
    background: linear-gradient(180deg, $color-blue-sky, $color-vivid-blue);
}