//Colors
$color-primary: #d14186;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 15%);
$color-vivid-blue: #07c1db;
$color-blue-sky: #89D2DC;
$color-black: #111111;
$color-white: #fff;


//Fonts
$default-font-size: 1.6rem; 