@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: (
    marine-blue: #0A2342,
    blue-sky: #89D2DC,
    sandcastle: #be7c4d,
    miraira-orange: #ca2604,
    black: #353238,
    white: #fff
);