header {
    margin-top: 3rem;
    background-color: $blue-sky;
    padding: 3.5rem 1rem 10rem;
    margin-bottom: 5rem;
    min-height: 50rem;
    width: 100%;

    .developer-profile {
        padding: 1rem .5rem;

        &__name {
            font-family: 'Open Sans', sans-serif;
        }

        &__job {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1.4rem;
        }

        &__links {
            margin-top: 1rem;
        }
    }

    .developer-info {
        background-color: $white;
        border-radius: .3rem;
        margin: 3rem 0;
        padding: 2.5rem 3rem;
        width: 100%;
        min-height: 25rem;

        &__bio--text {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5rem;
            text-align: justify;
        }

        &__skills {
            margin-bottom: .5rem;
            line-height: 3rem;
            
            .subtitle {
                font-size: 1.4rem !important;
            }
        }
    }
}

@media (max-height: 768px){
    header{
      padding: 3.5rem 0 8rem !important;  
    }
}