nav {

    background-color: $color-white;
    margin-bottom: 2rem;
    padding: 1rem;
    flex-direction: column;
    @include clearfix;
    
    & .nav-link {
        padding: 1rem; 
        margin: .5rem; 
    }
    
    & .navbar-brand {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        padding: 1rem;
        float: left;
    }

    & .navbar-toggler {
        font-size: 1.6rem;   
    }
}