@import "../../assets/sass/mixins.scss";

.Header {
  //margin-top: 3rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)),
      url('/images/header.jpg');

  background-color: var(--color-black);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0;

  .intro {
    position: absolute;
    display: block;
    letter-spacing: 0.2rem;
    @include align-center;

    &__hello {
      @include blue-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-size: 1.8rem;
      font-family: "Lato", sans-serif;
      font-weight: 600;
    }

    &__name {
      @include pink-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-family: "Noto Sans", sans-serif;
      font-weight: 900;
      text-transform: uppercase;
    }

    &__position {
      color: var(--color-white);
      font-family: "Noto Sans", sans-serif;
      font-weight: 900;
      text-transform: uppercase;

      &::before {
        content: "|";
        padding: 0 0.8rem 0 1.4rem;
        color: var(--color-violet);
      }
    }
  }

  .social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 3rem 0;
    padding: 0.5rem;
    transition: all 0.2s;

    &__link {
      font-size: 4.8rem;
      text-decoration: none;

      &:link,
      &:visited {
        color: var(--color-white);
      }

      &:hover,
      &:active {
        color: var(--color-pink-0);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .learn-more {
    .about__link {
      text-decoration: none;
      color: inherit;
    }
  }
}
