@import "../../assets/sass/variables.scss";
@import "../../assets/sass/mixins.scss";

.Button {
  &,
  &:link,
  &:visited {
    font-family: "Noto Sans", sans-serif;
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 1rem auto;
    border: none;
    border-radius: 10rem;
    transition: all 0.2s;
    display: block;
    box-shadow: 0 1rem 3rem rgba(var(--color-black), 0.2);
  }

  @include animate-btn;

  &--animated {
    animation: moveInBottom 2s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--blue {
    &,
    &:link,
    &:visited {
      background-color: var(--color-blue);
      color: var(--color-white);
    }

    &:hover,
    &:active {
      @include blue-gradient;
    }
  }

  &--pink {
    &,
    &:link,
    &:visited {
      background-color: var(--color-pink);
      color: var(--color-white);
    }

    &:hover,
    &:active {
      @include sunset-gradient;
      transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.2s;
    }
  }
}
