.btn {
    &,
    &:link,
    &:visited {
        font-family: 'Noto Sans', sans-serif;
        font-size: $default-font-size;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2rem;
        margin: 1rem auto;
        border: none;
        border-radius: 10rem;
        transition: all .2s;
        display: block;
        box-shadow: 0 1rem 3rem rgba($color-black, .2);
    }

    @include animate-btn;

    &--animated {
        animation: moveInBottom 2s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &--pink {
        &,
        &:link,
        &:visited {
            background-color: $color-primary-dark;
            color: $color-white;
        }

        &:hover,
        &:active {
            background-color: $color-primary;
        }
        
    }
    
}