progress[value]{
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
}

progress[value]::-webkit-progress-value {
    background-color: $color-primary;
    border-radius: 10rem;
}

progress[value]::-moz-progress-bar { 
    background-color: $color-primary;
    border-radius: 10rem;
}

progress::-ms-fill {
    background-color: $color-primary;
    border-radius: 10rem;
    border: none;
}

progress.progress-bar {
    border: none;
    border-radius: 10rem;
    display: block;
    overflow: hidden;
    margin: 0 !important;
    padding: 0;
    width: 100%;
    height: 1rem; 
}