h1 {
    font-size: 3.6rem !important;
    //line-height: 5.5rem;
}

h2 {
    font-size: 2.8rem !important;
}

h3 {
    font-size: 2.4rem !important;
}

h4 {
    font-size: 2.1rem !important;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.8rem !important;
    }
    
    h2 {
        font-size: 2.1rem !important;
    }
    
    h3 {
        font-size: 1.8rem !important;
    }
    
    h4 {
        font-size: 1.6rem !important;
    } 
}

nav {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.618;

    & .nav-item {
        & .nav-link {
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-weight: 400;
    
            &:hover {
                color: darken($blue-sky, 15%) !important;
            }
        }
    }
}


.title {
    color: $marine-blue;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    //font-weight: 600;
    margin: 2rem 0 1.5rem;
}

.text--blue-sky {
    color: $blue-sky;
}

.text--marine {
    color: $marine-blue;
}

@media (max-width: 768px) {
    .title {
        font-size: 2.8rem;
    }
}

#portfolio {
    

    & .projects {

        & .project__description {
            color: $black;
            font-family: 'Lato', sans-serif;
            font-size: 1.5rem;
            text-align: center;
            display: inline-block;
        }
    }  
}

