@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans');

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 1.8rem;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: $default-font-size;
}

a {
    &,
    &:link,
    &:visited {
        color: $color-primary;
        text-decoration: none;
    }
}

.title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1rem;
    margin: .5rem;
} 