.container {
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}

.title-wrap {
    color: $color-primary;
    font-size: 3.6rem;
    text-align: center;
    display: block;

    .icon {
        background-color: $color-primary;
        height: 4rem;
        border-radius: 100%;
        padding: 1rem;
        color: white;
    }
}

.section-about {
    //display: flex;
    padding: 3rem 2rem;
    margin: 3rem 0;
    background-color: $color-white;

    .about-dev {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
        
        &__description {
            margin-top: 1.5rem;
        }
        
        &__picture {
            border-radius: 50%;
            width: 30%;
            height: auto;
            margin: .8rem;
        }

        &__info {
            font-size: 1.8rem;
            @include list-format;
            @include list-margin;
        }
    }

    .skills {

        align-self: center;
        
        &__category {
            font-weight: 300;
            color: $color-black;
            margin: 1rem 0;

            &::before {
                content: "</>";
                padding-right: .8rem;
                color: $color-primary;
            }
        }

        &__list {
            @include list-format;
            @include list-margin;
        }

        &__skill {
            font-size: 1.4rem;
            color: $color-black;
        }
    }
}