.Footer {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 6rem 0;
}
