@import url("https://fonts.googleapis.com/css?family=Roboto|Lato|Noto+Sans");
@import "~rfs/scss";

h1 {
  @include font-size(4.8rem);
}

h2 {
  @include font-size(3.2rem);
}

h3 {
  @include font-size(2.4rem);
}

h4 {
  @include font-size(1.8rem);
}

body {
  font-family: "Lato", sans-serif;
  font-size: $default-font-size;
}

a {
  &,
  &:link,
  &:visited {
    color: var(--color-pink);
    text-decoration: none;
  }
}

.title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0;
  margin: 2.5rem 0;
  display: flex;
  justify-content: flex-start;
  color: var(--color-black);

  &--center {
    align-items: center;
    justify-content: center;
  }
}
